<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskmanager">
    <!--
    Y Min API/SDK level 14
    Адаптер має йти окремим класом окремим пакетом.
    Використати стандартний ToolBar з апп-компат-ліби
    Клас Завдання йде в окремому пакеті
    Обидві актівіті мають йти в своєму пакеті
    Леяути екранів мають відповідати актівіті у найменуваннях та всередині
    Віджети у леяутах мають мати id з назвою-призначенням. Тобто не textView1, а, наприклад txtTaskTitle.
    Всі найменування нестатичних полів класів мають починатися з літери m.
    В коді не має бути незрозумілих найменувать методів, типу addData(), doFill(), calc() і тп узагальнених найменувань. Кожне найменування методу має говорити за себе про його конкретне призначення. Вийнятки - стандартові наслідувані методи типу onCreate() в Activity.
    Наразі не використовувати RecycleView у лістВью.
    В коді не має бути незрозумілих найменувать змінних типу а, b, temp, data і тп - кожна змінна має говорити за себе про її вміст або призначення. Навіть у циклах краще вказувати що це index, абощо, хоча допускаєтсья просто і.
    Код має бути форматованим і без зайвих імортів.
    Усі англомовні найменування не мають містити помилок - в цьому помагає АндроїдСтудія - вона підкреслює помилки.
    Актівіті не лочити на одну орієнтацію екрану!
    Де будуть потрібні іконки то брати їх зі стандартного набору іконок гугла, що лежить на сайті андроїда, додатковий таск - знайти то. ) Воно десь де про диз іконок розказують
    Кольори, діменшни (розмір шрифтаб відступи), стрінги виносяться до ресурсних файлів.

    Завдання #1
    Зміст:
    “Завдання” містить наступну інформацію: назва, коментар.
    Створити додаток з двома екранами.
    Перший і стартовий екран-activity, на якому лежить ListView, згори ToolBar, знизу по ширині екрану кнопка [Додати]. У ListView відображається список завдань.
    [Додати] викликає інший екран - створення Завдання. На екрані створення завдання 2 EditText-и, один під одним, перший на 1 один рядок - найменування, другий на 3 рядки максимум - камент. Знизу 2 кнопки Зберегти/Вихід. При натисканні кнопки Зберегти Завдання додається до списку у ліствью.
    При обертанні екрану додані завдання мають зберігатися, без використання static!
    Завдання не зберігаються, вихід з аппу за допомогою кнопки Назад смартфону означає втрату всіх створених завдань.
    -->


        <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <activity android:name=".Activity.MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity android:name=".Activity.AddTaskActivity"></activity>
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </application>

    </manifest>